/*Main Body*/

body {
    font-family: 'Big Shoulders Text', cursive;
    background-color: #282828;
}

/*Navigation Bar*/

#navigationBar {
    background-color: #1a1a1d;
}

.mobileNavbar {
    background-color: #1a1a1d !important;
}

.sidenavText {
    color: white !important;
}

/*Home*/

.homeParagraph {
    text-align: center;
    margin-top: 15%;
}

.logo {
    font-family: 'Pacifico', cursive;
    color: #ff44bd !important;
}

.introPara {
    color: white;
    font-size: 15px;
}

.imgCarousel {
    margin-top: 35%;
}

/*Workout Routines*/

/*Meal Plans*/

/*Recipes*/