/*Main Body*/

body {
    font-family: 'Big Shoulders Text', cursive;
    background-color: #282828;
}

/*Navigation Bar*/

#navigationBar {
    background-color: #1a1a1d;
}

.mobileNavbar {
    background-color: #1a1a1d !important;
}

.sidenavText {
    color: white !important;
}

/*Home*/

.homeParagraph {
    text-align: center;
    margin-top: 30%;
}

.logo {
    font-family: 'Pacifico', cursive;
    color: #ff44bd !important;
}

.introPara {
    color: white;
    font-size: 15px;
}

.imgCarousel {
    margin-top: 50%;
}

/*Homepage Media queries*/

@media screen and (min-width: 320px) and (max-width: 480px) {
    .imgCarousel {
    margin-top: 40%;
    }
    .homeParagraph {
    margin-top: 30%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .imgCarousel {
    margin-top: 30%;
    }
    .homeParagraph {
    margin-top: 20%;
    }
}

@media screen and (min-width: 768px) {
    .imgCarousel {
    margin-top: 25%;
    }
    .homeParagraph {
    margin-top: 30%;
    }
}

@media screen and (min-width: 1224px) {
    .imgCarousel {
    margin-top: 10%;
    }
    .homeParagraph {
    margin-top: 5%;
    }
}

@media screen and (min-width: 1824px) {
    .imgCarousel {
    margin-top: 10%;
    }
    .homeParagraph {
    margin-top: 5%;
    }
}

/*Workout Routines*/

/*Meal Plans*/

/*Recipes*/