<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
	</head>
	<body>
    <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">TrainerMate</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="">Home</a></li>
        <li><a href="badges.html">Workout Routines</a></li>
        <li><a href="collapsible.html">Meal Plans</a></li>
        <li><a href="mobile.html">Recipes</a></li>
        <li><a href="{{url_for('post')}}">Share</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Workout Routines</a></li>
    <li><a href="badges.html">Exercises</a></li>
    <li><a href="collapsible.html">Meal Plans</a></li>
    <li><a href="mobile.html">Recipes</a></li>
    <li><a href="{{url_for('post')}}">Share</a></li>
  </ul>

<div class="container">
    {% block content %}{% endblock %}
</div>

<div class="container">
  <div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div>
    <div class="carousel-item red white-text" href="#one!">
      <h2>First Panel</h2>
      <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <h2>Second Panel</h2>
      <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h2>Third Panel</h2>
      <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>
  </div>
</div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script type="text/javascript">
        $(document).ready(function(){
            $('.sidenav').sidenav();
            $('input#input_text, textarea#textarea2').characterCounter();
            $('select').formSelect();
        });
        $('.carousel.carousel-slider').carousel({
            fullWidth: true,
            indicators: true
        });
        </script>
    </body>
</html>