{% extends 'base.html' %}{% block content %}

<!--Main Paragraph-->
<div class="container">
    <h1 class="shareTitle">Edit Post</h1>
	<p class="sharePara"></p>
</div>

<!--Edit Form-->
<div class="container">
	<div class="row">
		<form action="{{url_for('add_post')}}" method="POST" class="col s12">
			<div class="row">
				<div class="input-field col s12">
					<select id="categories" name="category_name" class="formText">
                        <option value="" disabled selected>Choose Category</option>
                        {% for cat in categories %}
                            {% if cat.category_name == post.category_name %}
						    <option value="{{cat.category_name}}" selected class="formText">{{cat.category_name}}</option>
                            {% else %}
                            <option value="{{cat.category_name}}" class="formText">{{cat.category_name}}</option>
                            {% endif %}
                        {% endfor %}
					</select>
					<label class="formText">Select a Category</label>
				</div>
			</div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="plan_name" name="plan_name" type="text" class="validate formText" value="{{post.plan_name}}">
                    <label for="icon_prefix" class="formText">Plan Name</label>
                </div>
            </div>
			<div class="row">
				<div class="row">
					<div class="input-field col s12">
						<textarea id="workout_description" name="workout_description" class="materialize-textarea formText">{{post.workout_description}}</textarea>
						<label for="textarea1" class="formText">Plan Description</label>
					</div>
				</div>
				<button class="btn waves-effect waves-light submitButton" type="submit">Post
					<i class="material-icons right">send</i>
				</button>
			</div>
		</form>
	</div>
</div>

{% endblock %}