{% extends 'base.html' %} {% block content %}

<div class="container">
    <h1 class="postTitle">Meal Plans</h1>
    <p class="postPara1">Want to lose weight? Maybe gain some? Or you just created a great meal plan to gain muscle! Check out the meal plans below or get sharing!</p>
    <p class="postPara2">If you have posted a workout and you are not happy with it, click on your post below and press the edit or delete button</p>
<ul class="collapsible">
{% for name in posts %}
    <li>
        <div class="collapsible-header planNameHeader">
            <span>{{name.plan_name}}</span>
        </div>
        <div class="collapsible-body planBody">
            <span>{{name.workout_description}}</span>
            <div class="buttons">
            <a href="{{url_for('edit_posts', posts_id=name._id)}}" class="waves-effect waves-light btn hvr-buzz-out">Edit</a>
            <a href="{{url_for('delete_posts', posts_id=name._id)}}" class="waves-effect waves-light btn hvr-buzz-out">Delete</a>
            </div>
        </div>
    </li>
{% endfor %}
  </ul>
</div>

{% endblock %}
