{% extends 'base.html' %}{% block content %}

<div class="container">
    <h1 class="shareTitle">Share your ideas!</h1>
    <p class="sharePara">To share your workout routines, meal plans or recipes select your category and enter your plan name to get started! Then just type in the text area so everyone can read all about it!</p>
</div>

<div class="container">
	<div class="row">
		<form action="{{url_for('add_post')}}" method="POST" class="col s12">
			<div class="row">
				<div class="input-field col s12">
					<select id="categories" name="category_name">
                        <option disabled selected class="formText">Choose Category</option>
                        {% for cat in categories %}
						    <option value="{{cat.category_name}}" class="formText">{{cat.category_name}}</option>
                        {% endfor %}
					</select>
					<label class="formText">Select a Category</label>
				</div>
			</div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="plan_name" name="plan_name" type="text" class="validate formText" required>
                    <label class="formText">Plan Name</label>
                </div>
            </div>
			<div class="row">
				<div class="row">
					<div class="input-field col s12">
						<textarea id="workout_description" name="workout_description" class="materialize-textarea formText" required></textarea>
						<label for="textarea1" class="formText">Plan Description</label>
					</div>
				</div>
				<button class="btn waves-effect waves-light submitButton" type="submit" >Post
					<i class="material-icons right">send</i>
				</button>
			</div>
		</form>
	</div>
</div>

{% endblock %}