{% extends 'base.html' %} {% block content %}

<div class="container">

<!--Main Paragraph-->
    <h1 class="postTitle">Workout Routines</h1>
    <p class="postPara1">Created a new workout routine that everyone needs to know about? Or just looking for a new way to inprove your cardio. Check out all the workout routines below!
    <br>If you have posted a workout and you are not happy with it, click on your post below and press the edit or delete button</p>

<!--Posts Content-->
<ul class="collapsible">
{% for name in posts %}
    <li>
        <div class="collapsible-header planNameHeader">
            <span>{{name.plan_name}}</span>
        </div>
        <div class="collapsible-body planBody">
            <span>{{name.workout_description}}</span>
            <div class="buttons">
            <a href="{{url_for('edit_posts', posts_id=name._id)}}" class="waves-effect waves-light btn hvr-buzz-out">Edit</a>
            <a href="{{url_for('delete_posts', posts_id=name._id)}}" class="waves-effect waves-light btn hvr-buzz-out">Delete</a>
            </div>
        </div>
    </li>
{% endfor %}
  </ul>
</div>

{% endblock %}
